language: python
python: "3.7"
dist: xenial

stages:
  - lint
  - test

cache:
  pip: true
  directories:
    - "$HOME/.cache/pre-commit"

jobs:
  include:
    - stage: lint
      install:
        - pip install --upgrade pip
        - pip install poetry
        - poetry install -v
      script:
        - pylint api

    - stage: test
      install:
        - cp example_config.ini config.ini
        - pip install --upgrade pip
        - pip install poetry
        - poetry install
      script:
        - pytest
