# An example service file for systemd that you can put in /etc/systemd/system/

[Unit]
Description=mneme api
After=network.target

[Service]
Environment=PATH=/home/YOUR_USER_NAME/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Type=simple

# Your username and group
User=USER
Group=GROUP

# The path to the base directory for the API
WorkingDirectory=/PATH/TO/MNEME-API
# Path to python usually is /usr/bin/python3 but you can find out by running
# $ which python3
# If the executable name is "python" then use that instead of "python3"
ExecStart=/PATH/TO/PYTHON /PATH/TO/MNEME-API/mneme_api.py

KillSignal=SIGKILL
RestartKillSignal=SIGKILL
Restart=on-failure

[Install]
WantedBy=multi-user.target