[tool.poetry]
name = "mneme-server"
version = "0.1.0"
description = "Self hosted journal keeping app"
authors = ["Danya Rose <Danya.Scout@gmail.com>"]
license = "GPL-3.0-only"

[tool.poetry.dependencies]
python = "^3.6"
flask = "^1.1.2"
flask-restful = "^0.3.8"
flask_sqlalchemy = "^2.4.3"

[tool.poetry.dev-dependencies]
autopep8 = "^1.5.3"
flake8 = "^3.8.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
